<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome, <%= @user.name %></h1>
    <p>
      You have successfully created an account to Members Only, 
      where only members can see who's the who of the what's what.
      Your username is: <%= @user.username %>.<br>
    </p>
    <p>
      To login to the site, follow this link: <%= @url %>.
    </p>
    <p>You are beautiful and important</p>
  </body>
</html>